.App {
  text-align: center;
}

.center {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  margin-top: 10px;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {

  color: #333;
}

.weather-card-container {
  display: flex;
}

.add-city-card {

text-align: center;}


/* Container for the cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between the cards */
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* Light background to emphasize the glassy effect */
}

/* Individual card styles */
.card {
   background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
   /* Semi-transparent white background */
  border-radius: 15px; /* Rounded corners */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; /* Soft shadow for depth */
  backdrop-filter: blur(10px); /* Blur effect for the glassy look */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
  padding: 20px;
  width: 250px; /* Fixed width for the cards */
  height: 300px; /* Fixed height for the cards */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; /* Smooth transform transition */
}

.card:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Rounded corners for images */
}

.card h3 {
  height: 100%;
  width: 100%;
  margin: 10px 0 5px;
  color: #fff; /* White text color */
}

.card p {
  color: #fff; /* White text color */
  text-align: center;
}

@media (max-width: 600px) {
  .center {
    top: 5px; /* Adjust for smaller screens */
    right: 5px; /* Adjust for smaller screens */
    padding: 5px; /* Less padding on smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}